<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About Me</div>
            <!-- <div>
              <ul>
                <li *ngFor="let m of about2 | split">{{ m }}</li>
              </ul>
            </div> -->
            <p>I have more than 2 year of experience working in Full Stack Developer position, and I have strong understanding of coding languages, including HTML, CSS, JavaScript, TypeScript, C#.NET, ASP.NET and SQL. I have also been working with various frameworks such as Angular, React, Node.js, and I am also proficient in database management systems such as SQL Server, MongoDB.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Personal Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">April 29, 1996</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">zsanti.workspace@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">088-603-8983</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address:</strong>
              </div>
              <div class="col-sm-8">
                78/4, Thung Luang sub-district,
                Phon Phisai district, Nong Khai province, Thailand
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">Thai, English</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
